.edit_profile{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 3.5rem;
    background-color: var(--dark-40);
    border-radius: 0.75rem;
    border: 1px solid var(--dark-40);
    cursor: pointer;
    margin-bottom: 1rem;
    font-size: var(--lg     );
    color: var(--brand-color);
}
.edit_profile:hover{
    transition: .8s;
    border: 1px solid var(--brand-color);
}
.save_edit{
    width: 100%;
    height: 3.5rem;
    border: 1px solid var(--brand-color);
    background-color: var(--brand-color);
    color: var(--dark-30);
    border-radius: 12px;
    margin-bottom: var(--lg);
    cursor: pointer;
  }
  
  .save_edit:hover{
    border: 1px solid var(--dark-40);
    transition: 1s;
    opacity: 10;
  }

  @media (max-width:900px){
    .edit_profile{
      width: 100%;
    }
    
  }