.container_form_login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--dark-40);
    width:25vw ;
    height: 70vh;
    padding: 2% 0;
    border-radius: 12px;
}

#title_login{
    margin-top: .7em;
    font-size: 24px;
    color: var(--brand-color);
    font-size: var(--3xl);
    margin-bottom: 0;
}   


#checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-left: 1.3rem;
    width: 20px;
    height: 20px;
    accent-color: var(--dark-20);
    appearance: none;
    background-color: var(--dark-20);
    border-radius: 25%;
}

#checkbox:hover{
    cursor: pointer;
}
#checkbox:checked{
    accent-color: var(--brand-color);
    background-color: var(--brand-color);
}

.container_checkbox{
    display: flex;
    margin-right:9.8em;
    justify-content: center;
    height: auto;
}
#remember_password{
    margin-top: 2.1rem;
    font-size: 16px;
    margin-left: 12px;
    color: var(--dark-20);
    font-weight: 400;
}

#forget_password{
    font-weight: 400;
    color: var(--brand-color);
    margin-top: 1.24em;
    font-size: 14px;
    border-bottom:1px solid var(--brand-color);
    text-decoration: none;
    font-size: var(--sm); 
}

#logo_orkut{
    margin-left: auto;
    margin-right: auto;
    height: 32px;
    width: 32px;
}

/* style default for forms */
#form_login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.input_form{
    font-size: var(--md);
    padding-left: 8px;
    border: none;
    border-radius: 5px;
    width: 22vw;
    height: 8vh;
    margin-top: 1.5em;
    background: var(--dark-25);
}

#create_acount{
    background:var(--dark-25);
    color: var(--brand-color);
    font-size: var(--sm);
    padding-left: 8px;
    border: none;
    border-radius: 8px;
    width: 22vw;
    height: 8vh;
    margin-top: 1.5em;
    cursor: pointer;   
}
#form_button{
    margin-top:2em;
    width: 22vw;
    height: 8vh;
    border: none;
    border-radius: 8px;
    background: var(--brand-color);
    cursor: pointer;
    font-size: var(--sm);
    color: var(--dark-40);
    font-weight: 500;
}
