
.nav ul {
  display: flex;
  gap: 2.5rem;
  margin-left: 2.5rem;
  margin-right: 6rem;
  justify-content:space-between;
}

.nav ul li {
  color: var(--dark-10);
  font-size: var(--lg);
}

.profile_nav {
  color: var(--brand-color) !important;
  border-bottom: 1px solid var(--brand-color);
  transition: 1s;
}
.profile_nav:hover{
  color: var(--lg) !important;
  border: none;
}

.nav ul li:hover {
  color: var(--brand-color);
  cursor: pointer;
}


.settings_container {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  gap: .6rem;
}

.settings_container img {
  width: clamp(1.5rem, 5vw, 2.5rem);
  object-fit: cover;
}

.settings_container p {
  color: var(--dark-10);
}

.settings_container p + img {
  cursor: pointer;
}

@media (max-width: 900px) {
  .settings_container {
    gap: 0.5rem;
    margin-left: 12rem;
  }
  

  .settings_container p {
    display: none;
  }
}