.categoryContainer {
    padding: 7px;
    background-color: #FDFEFF;

    border-radius: 10px;

    height: 410px;

}

.topicSection {
    display: flex;

    justify-content: space-around;

    font-weight: 500;

    margin-top: 0.8em;
}

.categoryName {
    font-size: var(--md);
}

.seeAllBtn {
    margin: 0;
    padding: 0;

    border: none;

    width: auto;

    color: #ED2590;
    background: transparent;

    font-size: var(--sm);
}

.contentSection {
    display: grid;

    justify-items: center;
    justify-content: space-around;
    align-content: space-evenly;

    grid-template-columns: auto auto auto;

    height: 100%;
}

.contentBox {
    align-items: center;
    text-align: center;

    margin: 0;
    padding: 0;

    width: 56px;
    height: 81px;
}

.contentIcon {
    border-radius: 50%;

    width: 4vw;
    min-width: 30px;
    max-width: 50px;
}

.contentTitle {
    font-size: var(--sm);
    font-weight: 400;

}