.profile_info_container {
  background-color: var(--dark-30);

  padding: 1.5rem;
  border-radius: 16px;

  width: 592px;
  max-width: 592px;
}

.profile_info_container h2 {
  color: var(--dark-10);
  font-size: var(--3xl);
  font-weight: 500;
}

.profile_info_container blockquote {
  margin-top: 1.5rem;
  position: relative;
}

.profile_info_container img {
  width: 100%;
}

.profile_info_container p {
  position: absolute;
  left: 0.75rem;
  bottom: 25%;
}

.user_status {
  display: flex;
  gap: 2rem;
  margin: 2rem 0;
}

.user_status div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.user_status dd {
  display: flex;
  align-items: center;
  gap: 0.375rem;
}

.user_status span,
dt {
  color: var(--dark-10);
}

.user_details {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.user_details div {
  display: flex;
  gap: 0.75rem;
}

.user_details div dt {
  color: var(--dark-20);
}

.user_details div dd {
  color: var(--dark-10);
}

.user_details span {
  color: var(--brand-color);
  cursor: pointer;
  font-size: var(--sm);
}

.multiple_options_field_details {
  display: flex;
  align-items: center;
}

.multiple_options_field_details dd {
  padding: 0.5rem 1rem;

  color: var(--dark-10);
  font-size: var(--sm);

  border-radius: 30px;
  border: 1px solid var(--brand-color);
}

@media (max-width: 800px) {
  .profile_info_container {
    width: 100%;
  }
  .profile_info_container blockquote {
  margin-top: 1.5rem;
  position: relative;
  }

  .profile_info_container blockquote p{
    font-size: .8rem;
  }
  
  .profile_info_container p {
    position: absolute;
    left: 0.75rem;
    bottom: 25%;
  }
  .user_status{
    font-size: .8rem;
  }
  .user_status img{
    width: 1.1rem;
  }

  .user_details{
    font-size: .8rem;
  }
  .multiple_options_field_details dd,
  .multiple_options_field_details span{
    text-align: center;
    font-size: .7rem;
  } 

  .multiple_options_field_details dd{
    font-size: .7rem;
  }
}

