.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  background-color: var(--dark-30);
}

.footer p {
  color: var(--brand-color);
  font-size: var(--lg);
}

@media (max-width: 800px) {
  .footer p {
    font-size: var(--sm);
  }
}